:root{
    --about-primary-color:#ababab;
}

.about-section{
    color: var(--about-primary-color);
    padding: 80px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-heading{
    color: var(--white-color);
    font-size: 60px;
    font-weight: 600;
    
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    font-weight: 500;
    font-size: 18px;
    margin-right: 50px;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    background-color: var(--primary-color); 
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0; 
    height: 3px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%; 
}

.tab-content ul li{
    list-style-type:none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: var(--primary-color);
    font-size: 14px;
}

.tab-content{
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.tab-content.active-tab{
    display: block;
    opacity: 1;
}

@media screen and (max-width:600px) {
    .about-section{
        padding: 20px;
    }

    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sub-heading{
        color: var(--white-color);
        font-size: 40px;
        font-weight: 600;
        margin: 10px 0;
    }
    .tab-titles{
        display: flex;
        margin: 20px 0;
    }
    .tab-links{
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        position: relative;
    }


}