:root{
  --social-icon-color:#ababab;
}
#contact{
    padding: 0 40px;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 15px;
}
.contact-social-link
{
    margin-top: 30px;
}
.contact-social-icon
{
    text-decoration: none;

    font-size: 30px;
    margin-top: 15px;
    margin-right: 15px;
    color: var(--social-icon-color);
    display: inline-block;
    transition: transform 0.5s;
}

.contact-social-icon:hover{
    color: var(--primary-color);
    transform: translateY(-5px);
}





form {
    max-width: 400px;
    margin: 0 auto 20px auto;
    position: relative;
  }

.name-input{
    display: flex;
}

.name-input,.email-input,.message-input,.last-name-input-container,.first-name-input-container{
    position: relative;
}

  input,
  textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--primary-color);
    font-family: 'Poppins,sans-serif';
    color: var(--white-color);
    font-size: 18px;
  }


  .last-name-input,.first-name-input{
    width: 90%;
  }


  input:focus,
  textarea:focus {
      outline: none;
  }
  
 
  .contact-submit-btn{
    background-color: transparent;
    display: block;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid var(--primary-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--white-color);
    transition: background 0.5s;
    font-size: 15px;
    letter-spacing: 1px;
}

.contact-submit-btn:hover{
    background: var(--primary-color);
}



