.header {
    height: 100vh;
    width: 100vw;
    background-image: url('/public/images/background.png');
    background-size: cover;
    background-position: center;
}
.container{
    position: relative;
    height: 100%;
    width: 100%;
}

.logo {
    color: var(--primary-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
    position: relative;
}

nav ul li a::before {
    content: '';
    background-color: var(--primary-color);
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}

.header-text {
    margin-top: 15%;
    margin-left: 5%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
}

.header-text h1 span {
    color: var(--primary-color);
    font-size: 60px;
}

.professional-links {
    margin-top: 30px;
}

.professional-social-icon {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--social-icon-color);
    display: inline-block;
    transition: transform 0.5s;
}

.professional-social-icon:hover {
    color: var(--primary-color);
    transform: translateY(-5px);
}

.xmark-icon{
    display: none;
}

.bar-icon{
    display: none;
}
/* Media Queries */
@media screen and (max-width: 600px) {
    .header{
        background-image: url('/public/images/phone-background.png');
    }
    nav .nav-links {
        position: absolute;
        top: 0;
        right: -40%; /* Initially positioned outside the viewport */
        height: 100%;
        width: 40%;
        background: var(--primary-color);
        display: flex;
        flex-direction: column;
        padding-top: 2%;
        transition: right 0.5s; /* Transition the 'right' property */
    }
    
    nav .nav-links.active {
        right: 0; /* Slide in the navbar to the viewport */
    }
    
    nav .nav-links li{
        margin: 10px 20px;
    }
    .header-text{
        margin-top: 80%;
        font-size: 18px;
        width: 50vw;
    }
    .header-text h1 {
        font-size: 30px;
    }
    .header-text h1 span {
        color: var(--primary-color);
        font-size: 30px;
    }
    .xmark-icon{
        display: block  ;
    }
    
    .bar-icon{
        display: block;
    }

 
}
