.header{
    height: 100vh;
    width: 100vw;
    background-image: url('/public/images/background.png');
    background-size: cover;
    background-position: center;
}
.logo{
    color: var(--primary-color);
}
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
 }

 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 1rem;
 }
 nav ul li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
    position: relative;
}

nav ul li a::before {
    content: '';
    background-color: var(--primary-color);  /* Use background-color instead of color */
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transform: scaleX(0);  /* Initially set to zero width */
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before {
    transform: scaleX(1);  /* Expand the underline on hover */
}

.header-text{
    margin-top: 15%;
    margin-left: 5%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
}
.header-text h1 span{
    color: var(--primary-color);
    font-size: 60px;
}




.professional-social-link
{
    margin-top: 30px;
}
.professional-social-icon
{
    text-decoration: none;
    font-size: 30px;
    margin-top: 15px;
    margin-right: 15px;
    color: var(--social-icon-color);
    display: inline-block;
    transition: transform 0.5s;
}

.professional-social-icon:hover{
    color: var(--primary-color);
    transform: translateY(-5px);
}
