.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.footer-logo,.footer-year
{
    color: var(--primary-color);
    font-size: 22px;
    padding: 30px 0;
}