@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto&display=swap');
:root{
    --black-color:#080808;
    --white-color:#fff;
    --primary-color:#ff004f;

}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}

body{
    background-color: var(--black-color);
    color: var(--white-color);
}
html{
    scroll-behavior: smooth;
}